<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fangen</title>
    <link href="../resources/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="page">
        <nav class="page__navbar">
            <h1 class="page__title">
                Fangen
                <a href="https://github.com/zaryo/fangen" title="Source" class="page__navbar_source"></a>
            </h1>
        </nav>
        <p class="page__tutorial">Start by pressing the <strong>"Get streaming servers addresses"</strong> button.</p>

        <ul class="page__servers_list"></ul>
        <div class="page__servers_action">
            <p class="page__servers_action_troubleshoot">If it does not work, try reloading the page and playing the
                video. If error persists, do not hesitate on
                <a href="https://github.com/zaryo/fangen/issues/new">reporting the issue<a />
            </p>
            <button title="Get streaming addresses" type="button" class="page__button_fetch_servers">
                <p>Get streaming servers addresses</p>
            </button>
        </div>
    </div>

    <script type="module" src="../src/main.js"></script>
</body>

</html>
